<a href="https://colab.research.google.com/github/Aswinibishoyi/6.Decision-Tree-Regression/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
from google.colab import files
uploaded = files.upload()

Saving bill_authentication.csv to bill_authentication.csv

In [44]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['bill_authentication.csv']))
# Dataset is now stored in a Pandas Dataframe

In [45]:
df2

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [46]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['bill_authentication.csv']))
# Dataset is now stored in a Pandas Dataframe

In [47]:
dataset.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [53]:
X = dataset.iloc [:,:-1].values
y = dataset.iloc[:,-1:].values

In [54]:
X

array([[  3.6216 ,   8.6661 ,  -2.8073 ,  -0.44699],
       [  4.5459 ,   8.1674 ,  -2.4586 ,  -1.4621 ],
       [  3.866  ,  -2.6383 ,   1.9242 ,   0.10645],
       ...,
       [ -3.7503 , -13.4586 ,  17.5932 ,  -2.7771 ],
       [ -3.5637 ,  -8.3827 ,  12.393  ,  -1.2823 ],
       [ -2.5419 ,  -0.65804,   2.6842 ,   1.1952 ]])

In [55]:
y

array([[0],
       [0],
       [0],
       ...,
       [1],
       [1],
       [1]])

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [57]:
X_test

array([[  4.8368 ,  10.0132 ,  -4.3239 ,  -4.3276 ],
       [ -3.9411 , -12.8792 ,  13.0597 ,  -3.3125 ],
       [  3.0934 ,  -2.9177 ,   2.2232 ,   0.22283],
       ...,
       [  0.5195 ,  -3.2633 ,   3.0895 ,  -0.9849 ],
       [  4.6765 ,  -3.3895 ,   3.4896 ,   1.4771 ],
       [  0.38251,   6.8121 ,   1.8128 ,  -0.61251]])

In [58]:
y_train

array([[1],
       [0],
       [0],
       ...,
       [1],
       [1],
       [0]])

In [59]:
#==============================================================================
# Fitting the Linear Regression algo to the Training set
#==============================================================================

from sklearn.linear_model import LinearRegression
regressoragent = LinearRegression()
regressoragent.fit (X_train, y_train )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
predictValues = regressoragent.predict(X_test)

In [60]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [61]:
y_pred = classifier.predict(X_test)

In [62]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[147   3]
 [  0 125]]
              precision    recall  f1-score   support

           0       1.00      0.98      0.99       150
           1       0.98      1.00      0.99       125

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

From the confusion matrix, you can see that out of 275 test instances, my algorithm misclassified only 4. This is 98.5 % accuracy. Not too bad!